
// Colors
$color-one : #49725B;
$color-two : #E3E3E3;
$color-three : #575756;
$color-four : #8ABD7D;
$color-five : #169DB8;
$color-six : #FFFFFF;
$color-seven : #000000;

// typography
$font-body: 'Barlow';


