.section--hero-main {
	overflow: hidden;
	padding-top: 160px;
	.section__content,
	.row {
		overflow: visible;
	}
	.col__visual {
		position: relative;
		picture {
			position: relative;
			display: inline-block;
			width: 100%;
			img {
				width: 100%;
			}
		}
		&::before {
			content: "";
			background-color: $color-two;
			border-radius: 100%;
			position: absolute;
			top: -302.3px;
			right: -374px;
		}
	}
	.headline-numbered__seprator {
		display: none;
	}
}
.scroll-to__next {
	padding-bottom: 168.88px;
	position: relative;
	margin: 0px auto;
	width: 100%;
	height: 100%;
	display: inline-block;
	z-index: 1;
	&::after {
		content: "";
		height: 80px;
		left: 0px;
		right: 0px;
		top: 0px;
		margin: 0px auto;
		position: absolute;
		width: 1px;
		background-color: $color-three;
	}
	.scroll-next__arrow {
		position: absolute;
		width: 53.76px;
		height: 53.76px;
		border: 3px solid $color-four;
		border-radius: 100%;
		margin: 0px auto;
		display: block;
		left: 0px;
		right: 0px;
		bottom: 30px;
		.next__section {
			display: block;
			width: 100%;
			height: 100%;
			cursor: pointer;
			z-index: 100;
			position: relative;
		}
		&::before {
			content: "";
			position: absolute;
			left: 0px;
			right: 0px;
			bottom: 0px;
			top: -5px;
			border: solid $color-six;
			border-width: 0 3px 3px 0;
			display: inline-block;
			padding: 1px;
			transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			width: 8px;
			height: 9.34px;
			margin: auto;
			z-index: 1;
		}
		&::after {
			content: "";
			position: absolute;
			left: 0px;
			right: 0px;
			bottom: 0px;
			top: 0px;
			width: 37.5px;
			height: 37.5px;
			background-color: #49725b;
			border-radius: 100%;
			margin: auto;
		}
	}
}
@media screen and (min-width: 320px) {
	.section--hero-main {
		.section--hero-main__wrap {
			.col__hero--content {
				padding: 0px calc((100vw - 300px) / 2);
			}
			.col__visual {
				padding-left: calc((100vw - 300px) / 2);
			}
		}
	}
}
@media screen and (min-width: 420px) {
	.section--hero-main {
		.section--hero-main__wrap {
			.col__hero--content {
				padding: 0px calc((100vw - 400px) / 2);
			}
			.col__visual {
				padding-left: calc((100vw - 400px) / 2);
			}
		}
	}
}
@media screen and (min-width: 768px) {
	.section--hero-main {
		padding-top: 220px;
		.section--hero-main__wrap {
			.col__hero--content {
				padding: 0px calc((100vw - 640px) / 2);
			}
			.col__visual {
				padding-left: calc((100vw - 640px) / 2);
			}
		}
	}
}
@media screen and (min-width: 1025px) {
	.section--hero-main {
		.section--hero-main__wrap {
			.col__hero--content {
				padding: 0px 30px 0px calc((100vw - 940px) / 2);
			}
			.col__visual {
				padding-left: 0px;
				&::before {
					padding: 78%;
				}
			}
		}
	}
}
@media screen and (min-width: 1110px) {
	.section--hero-main .section--hero-main__wrap {
		.col__visual {
			&::before {
				padding: 74%;
			}
		}
	}
}
@media screen and (min-width: 1280px) {
	.section--hero-main {
		.section--hero-main__wrap {
			.col__visual {
				&::before {
					padding: 70%;
				}
			}
		}
	}

	.scroll-to__next {
		margin-top: -71px;
	}
}
@media screen and (min-width: 1441px) {
	.section--hero-main .section--hero-main__wrap {
		.col__visual {
			&::before {
				padding: 68%;
			}
		}
	}
}
@media screen and (min-width: 1401px) {
	.section--hero-main {
		padding-top: 0px;
		.section--hero-main__wrap {
			.col__hero--content {
				padding: 0px 30px 0px calc((100vw - 1340px) / 2);
			}
		}
	}
	.section--hero-main__content {
		padding-bottom: 30.7px;
	}
}
@media screen and (min-width: 1601px) {
	.section--hero-main .section--hero-main__wrap {
		.col__visual {
			&::before {
				padding: 64.5%;
			}
		}
	}
	.section--hero-main__content {
		padding-bottom: 0px;
	}
}
@media screen and (min-width: 1920px) {
	.section--hero-main .section--hero-main__wrap {
		.col__hero--content {
			padding: 0px 160px 0px calc((100vw - 1600px) / 2);
		}
		.col__visual {
			&::before {
				padding: 61.7%;
			}
		}
	}
}
@media screen and (min-width: 1921px) {
	.section--hero-main .section--hero-main__wrap {
		.col__visual {
			&::before {
				padding: 57.7%;
			}
		}
	}
}
@media screen and (max-width: 1024px) {
	.section--hero-main {
		.section--hero-main__wrap {
			flex-direction: column;
			> div {
				width: 100%;
			}
			.col__visual {
				margin-top: -30px;
				&::before {
					top: 0px;
					bottom: 15px;
					right: -163px;
					padding: calc(100vw - 58.3%);
					margin: auto;
				}
			}
		}
	}
	.scroll-to__next {
		padding-bottom: 198.88px;
		margin-top: 0px;
		&::after {
			height: 60px;
			bottom: unset;
			top: 40px;
		}
		.scroll-next__arrow {
			margin-top: 65.1px;
			bottom: 40px;
		}
	}
}
@media screen and (max-width: 900px) {
	.scroll-to__next {
		padding-bottom: 158.88px;
		&::after {
			top: 0px;
		}
	}
}
@media screen and (max-width: 767px) {
	.scroll-to__next {
		padding-bottom: 138.98px;
		&::after {
			height: 40px;
		}
		.scroll-next__arrow {
			bottom: 39.6px;
		}
	}
}
@media screen and (min-width: 600px) and (max-width: 767px) {
	.section--hero-main .section--hero-main__wrap {
		.col__visual {
			&::before {
				padding: calc(100vw - 57.3%);
			}
		}
	}
}
@media screen and (max-width: 599px) {
	.section--hero-main .section--hero-main__wrap {
		.col__visual {
			&::before {
				padding: 47.2%;
			}
		}
	}
}
@media screen and (max-width: 479px) {
	.section--hero-main {
		.section--hero-main__wrap {
			.col__visual {
				margin-top: 30px;
				&::before {
					padding: 50.7%;
				}
			}
		}
	}
	.scroll-to__next {
		margin-top: 30px;
	}
}
@media screen and (max-width: 320px) {
	.section--hero-main .section--hero-main__wrap {
		.col__visual {
			&::before {
				padding: 57%;
			}
		}
	}
}
